.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
}

@keyframes spin {
    from {transform: scale(1) rotate(0deg);}
    to {transform: scale(1) rotate(360deg);}
}

#weatherLoader {
    margin-top: 20px;
    text-align: center;
}

.map-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.map-container iframe,
.map-container object,
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-container,
#weatherData {
    padding-top: 30px;
}

#mapLegend {
    padding-top: 10px;
    text-align: center;
}

.col-centered{
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#favoriteContainer {
    padding-top: 0;
}
